#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
}

.card {
  padding: 1em;
}

.text-area {
  padding: 2em;
  border-radius: 2em;
  color: #646cffaa;
  border-color: #242424;
  resize: none;
}

.text-area:focus {
  outline: none;
  border-color: #646cffaa;
}

.result {
  color: #646cffaa
}

.error {
  color: #fb6161aa;
}

.logo:hover {
  filter: drop-shadow(0 0 2em #646cffaa);
}
.logo.react:hover {
  filter: drop-shadow(0 0 2em #61dafbaa);
}